<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    .outer{
        display: flex;
    }
    .inner{
        width: 300px;
        height: 100vh;
        background-color: orange;
    }
    .mid{
        flex: 1;
        background-color: lightblue;
    }

</style>
<body>
<div class="outer">
    <div class="inner left"></div>
    <div class="inner mid"></div>
    <div class="inner right"></div>
</div>
</body>
</html>

