<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    .outer{
        /*table布局会自动缩放当前的宽高*/
        display: table;
        height: 100vh;
    }
    .inner{
        width: 300px;
        height: 100%;
        background-color: orange;
    }
    .mid{
        display: table-cell;
        width: 100%;
        background-color: lightblue;
    }
</style>
<body>
<div class="outer">
    <div class="inner left"></div>
    <div class="inner mid"></div>
    <div class="inner right"></div>
</div>
</body>
</html>
